# Studienbrief 3

## pandas

In [1]:
import pandas as pd

In [21]:
kanzler = pd.DataFrame( {
    'Jahre': [ 5, 8, 6, 7, 13 ],
    'Name': [ 'Brandt', 'Schmidt', 'Kohl', 'Schröder', 'Merkel' ],
    'Partei': [ 'SPD','SPD', 'CDU', 'SPD', 'CDU'],
    'Start': [ 1969, 1974, 1982, 1998, 2005 ]
})

kanzler.index = [ 'Eins', 'Zwei', 'Drei', 'Vier', 'Fünf']

### sort_index()

In [12]:
kanzler.sort_index()

#kanzler.sort_index( axis=1, ascending=False)

      Jahre      Name Partei  Start
Drei      6      Kohl    CDU   1982
Eins      5    Brandt    SPD   1969
Fünf     13    Merkel    CDU   2005
Vier      7  Schröder    SPD   1998
Zwei      8   Schmidt    SPD   1974

### sort_values()

In [183]:
kanzler.sort_values( 'Jahre', ascending=False )

   Jahre      Name Partei  Start
4     13    Merkel    CDU   2005
1      8   Schmidt    SPD   1974
3      7  Schröder    SPD   1998
2      6      Kohl    CDU   1982
0      5    Brandt    SPD   1969

### concat

In [22]:
kanzler = pd.DataFrame( {
    'Jahre': [ 5, 8, 6, 7, 13 ],
    'Name': [ 'Brandt', 'Schmidt', 'Kohl', 'Schröder', 'Merkel' ],
    'Partei': [ 'SPD','SPD', 'CDU', 'SPD', 'CDU' ],
    'Start': [ 1969, 1974, 1982, 1998, 2005 ]
})

kanzler2 = pd.DataFrame( {
    'Jahre': [ 14, 3 ],
    'Name': [ 'Adenauer', 'Erhard' ],
    'Partei': [ 'CDU', 'FDP' ],
    'Rücktritt': [ False, True ],
    'Start': [ 1949, 1963 ]
} )

pd.concat( [ kanzler, kanzler2 ] )

   Jahre      Name Partei  Start Rücktritt
0      5    Brandt    SPD   1969       NaN
1      8   Schmidt    SPD   1974       NaN
2      6      Kohl    CDU   1982       NaN
3      7  Schröder    SPD   1998       NaN
4     13    Merkel    CDU   2005       NaN
0     14  Adenauer    CDU   1949     False
1      3    Erhard    FDP   1963      True

### concat - inner

In [23]:
kanzler = pd.DataFrame( {
    'Jahre': [ 5, 8, 6, 7, 13 ],
    'Name': [ 'Brandt', 'Schmidt', 'Kohl', 'Schröder', 'Merkel' ],
    'Partei': [ 'SPD','SPD', 'CDU', 'SPD', 'CDU' ],
    'Start': [ 1969, 1974, 1982, 1998, 2005 ]
})

kanzler2 = pd.DataFrame( {
    'Jahre': [ 14, 3 ],
    'Name': [ 'Adenauer', 'Erhard' ],
    'Partei': [ 'CDU', 'FDP' ],
    'Rücktritt': [ False, True ],
    'Start': [ 1949, 1963 ]
} )

pd.concat( [ kanzler, kanzler2 ], join='inner' )

   Jahre      Name Partei  Start
0      5    Brandt    SPD   1969
1      8   Schmidt    SPD   1974
2      6      Kohl    CDU   1982
3      7  Schröder    SPD   1998
4     13    Merkel    CDU   2005
0     14  Adenauer    CDU   1949
1      3    Erhard    FDP   1963

### merge

In [25]:
kanzler = pd.DataFrame( {
    'Jahre': [ 5, 8, 6, 7, 13 ],
    'Name': [ 'Brandt', 'Schmidt', 'Kohl', 'Schröder', 'Merkel' ],
    'Partei': [ 'SPD','SPD', 'CDU', 'SPD', 'CDU' ],
    'Start': [ 1969, 1974, 1982, 1998, 2005 ]
} )

kanzler3 = pd.DataFrame( {
    'Name': [ 'Brandt', 'Kohl', 'Schröder', 'Merkel' ],
    'weibl': [ False, False, False, True ]
} )

kanzler.merge( kanzler3, on='Name')

   Jahre      Name Partei  Start  weibl
0      5    Brandt    SPD   1969  False
1      6      Kohl    CDU   1982  False
2      7  Schröder    SPD   1998  False
3     13    Merkel    CDU   2005   True

### rename

In [28]:
kanzler = pd.DataFrame( {
    'Jahre': [ 5, 8, 6, 7, 13 ],
    'Name': [ 'Brandt', 'Schmidt', 'Kohl', 'Schröder', 'Merkel' ],
    'Partei': [ 'SPD','SPD', 'CDU', 'SPD', 'CDU' ],
    'Start': [ 1969, 1974, 1982, 1998, 2005 ]
} )

kanzler.rename( columns={ 'Jahre': 'Years', 'Partei': 'Party'} )

   Years      Name Party  Start
0      5    Brandt   SPD   1969
1      8   Schmidt   SPD   1974
2      6      Kohl   CDU   1982
3      7  Schröder   SPD   1998
4     13    Merkel   CDU   2005

### unique

In [189]:
r = list( kanzler.Partei.unique() )
print( "Parteien:\t\t" + str( r ) )

r = list( kanzler.Name.unique() )
print( "Parteien:\t\t" + str( r ) )

Parteien:		['SPD', 'CDU']
Parteien:		['Brandt', 'Schmidt', 'Kohl', 'Schröder', 'Merkel']

### T

In [191]:
kanzler.T

             0        1     2         3       4
Jahre        5        8     6         7      13
Name    Brandt  Schmidt  Kohl  Schröder  Merkel
Partei     SPD      SPD   CDU       SPD     CDU
Start     1969     1974  1982      1998    2005

### .str

In [45]:
kanzler.Name.str.len()

0    6
1    7
2    4
3    8
4    6
Name: Name, dtype: int64

In [192]:
kanzler.Name.str.startswith( 'S' )

0    False
1     True
2    False
3     True
4    False
Name: Name, dtype: bool

In [52]:
kanzler.Name.str.contains( 'erke' )

0    False
1    False
2    False
3    False
4     True
Name: Name, dtype: bool

### date_range

In [62]:
a = pd.date_range( '20180930', freq='2W', periods=4 )
print( "Result:\t\t" + str( a ) )

Result:		DatetimeIndex(['2018-09-30', '2018-10-14', '2018-10-28', '2018-11-11'], dtype='datetime64[ns]', freq='2W-SUN')

In [63]:
df1 = pd.DataFrame( 
    { 'Aufgaben': [ 'Mathe', 'Deutsch', 'Mathe', 'Englisch', 'Englisch', 'Französisch', 'Mathe' ] },
    index=pd.date_range( '20180930', freq='W', periods=7 )
)

df1

               Aufgaben
2018-09-30        Mathe
2018-10-07      Deutsch
2018-10-14        Mathe
2018-10-21     Englisch
2018-10-28     Englisch
2018-11-04  Französisch
2018-11-11        Mathe

In [56]:
df2 = pd.DataFrame( 
    { 
        'Wetter': [ 'Sonnig', 'Gewitter', 'Wolkig', 'Sonnig' ], 
        'Temp': [ 30, 24, 18, 33 ] 
    },
    index=pd.date_range( '20180930', freq='2W', periods=4 )
)

               Aufgaben
2018-09-30        Mathe
2018-10-07      Deutsch
2018-10-14        Mathe
2018-10-21     Englisch
2018-10-28     Englisch
2018-11-04  Französisch
2018-11-11        Mathe

### merge

In [122]:
df1 = pd.DataFrame( 
    { 'Aufgaben': [ 'Mathe', 'Deutsch', 'Mathe', 'Englisch', 'Englisch', 'Französisch', 'Mathe' ] },
    index=pd.date_range( '20180930', freq='W', periods=7 )
)

df2 = pd.DataFrame( 
    { 
        'Wetter': [ 'Sonnig', 'Gewitter', 'Wolkig', 'Sonnig' ], 
        'Temp': [ 30, 24, 18, 33 ] 
    },
    index=pd.date_range( '20180930', freq='2W', periods=4 )
)

df3 = pd.merge( df1, df2, left_index=True, right_index=True, how='outer')

df3

               Aufgaben    Wetter  Temp
2018-09-30        Mathe    Sonnig  30.0
2018-10-07      Deutsch       NaN   NaN
2018-10-14        Mathe  Gewitter  24.0
2018-10-21     Englisch       NaN   NaN
2018-10-28     Englisch    Wolkig  18.0
2018-11-04  Französisch       NaN   NaN
2018-11-11        Mathe    Sonnig  33.0

### dropna

In [74]:
df3.Temp.dropna()

2018-09-30    30.0
2018-10-14    24.0
2018-10-28    18.0
2018-11-11    33.0
Name: Temp, dtype: float64

### fillna

In [75]:
df3.Temp.fillna( 'Unknown' )

2018-09-30         30
2018-10-07    Unknown
2018-10-14         24
2018-10-21    Unknown
2018-10-28         18
2018-11-04    Unknown
2018-11-11         33
Name: Temp, dtype: object

### isnull

In [79]:
df3.Temp.isnull()

2018-09-30    False
2018-10-07     True
2018-10-14    False
2018-10-21     True
2018-10-28    False
2018-11-04     True
2018-11-11    False
Name: Temp, dtype: bool

### sum

In [198]:
df3.Temp.isnull().sum()

3

### copy

In [127]:
df4 = df3.copy()
df4.Temp = df4.Temp.fillna( 50 )

df4

               Aufgaben    Wetter  Temp
2018-09-30        Mathe    Sonnig  30.0
2018-10-07      Deutsch       NaN  50.0
2018-10-14        Mathe  Gewitter  24.0
2018-10-21     Englisch       NaN  50.0
2018-10-28     Englisch    Wolkig  18.0
2018-11-04  Französisch       NaN  50.0
2018-11-11        Mathe    Sonnig  33.0

### dtypes

In [128]:
df4.dtypes

Aufgaben     object
Wetter       object
Temp        float64
dtype: object

### astype

In [148]:
df5 = df3.copy()
print( "Before:\t\t" + str( df5.Temp.dtypes ) ) 

df5.Temp = df5.Temp.astype( str )
print( "To String:\t" + str( df5.Temp.dtypes ) )

Before:		float64
To String:	object

### apply

In [170]:
df5 = df3.copy()
df5.Temp = df5.Temp.fillna( 0 )

print( "Before:\n")
print( df5.head( 3 ) ) 

df5.Temp = df5.Temp.apply( lambda x: int( x ) )

print( "\nAfter:\n")
print( df5.head( 3 ) )

Before:

           Aufgaben    Wetter  Temp
2018-09-30    Mathe    Sonnig  30.0
2018-10-07  Deutsch       NaN   0.0
2018-10-14    Mathe  Gewitter  24.0

After:

           Aufgaben    Wetter  Temp
2018-09-30    Mathe    Sonnig    30
2018-10-07  Deutsch       NaN     0
2018-10-14    Mathe  Gewitter    24

### groupby

In [180]:
df5 = df3.copy()
df5.Temp = df5.Temp.fillna( 0 )

a = df5.groupby( 'Aufgaben' )

?

In [182]:
##

[('Deutsch',
             Aufgaben Wetter  Temp
  2018-10-07  Deutsch    NaN   0.0),
 ('Englisch',
              Aufgaben  Wetter  Temp
  2018-10-21  Englisch     NaN   0.0
  2018-10-28  Englisch  Wolkig  18.0),
 ('Französisch',
                 Aufgaben Wetter  Temp
  2018-11-04  Französisch    NaN   0.0),
 ('Mathe',
             Aufgaben    Wetter  Temp
  2018-09-30    Mathe    Sonnig  30.0
  2018-10-14    Mathe  Gewitter  24.0
  2018-11-11    Mathe    Sonnig  33.0)]